<meta charset="UTF-8">
<title>Oxide Thin Film</title>
<style>
  .container {
    margin: 15px;
    padding: 10px;
  }
  h1 {
    font-family: 'Arial';
    font-size: 35px
  }
  p {
    font-family: 'Arial';
    font-size: 20px
  }
  a {
    font-family: 'Arial';
    font-size: 16px;
    display: block;
    margin-bottom: 10px
  }
</style>