<!DOCTYPE html>
<html>
<head> <%- include('../partials/head'); %></head>
<body>
  <div class="container">
    <h1>Zinc Oxide and Hafnium Oxide Thin Film Papers</h1>
    <p>Click on the links below to download the papers:<p>
    <ul>
      <li>
       <a href="/ZnO-thin-film.pdf" download>
         Ti-doped ZnO Thin Films Prepared at Different Ambient Conditions: Electronic Structures and Magnetic Properties
       </a>
      </li>
      <li>
        <a href="/HfO-thin-film.pdf" download>
          Tuning oxygen vacancies and resistive switching properties in ultra-thin HfO2 RRAM via TiN bottom electrode and interface engineering
        </a>
      </li>
    </ul>
  </div>
</body>
</html>