<!DOCTYPE html>
<html>
<head> <%- include('../partials/head'); %></head>
<body>
  <div class="container">
    <h1>Zinc Oxide and Hafnium Oxide Thin Film Papers</h1>
    <p>Click on the links below to view the papers:<p>
    <ul>
      <li>
       <a href="/ZnO-thin-film.pdf">
         Zinc oxide-Ti-DMS-XAS-vacancy-Electronic Structures and Magnetic Properties
       </a>
      </li>
      <li>
        <a href="/HfO-thin-film.pdf">
          Hafnium oxide-Titanium nitride-XPS-Band bending-RRAM
        </a>
      </li>
    </ul>
    <p>Click on the links below to download the papers:<p>
    <ul>
      <li>
       <a href="/ZnO-thin-film.pdf" download>
         Zinc oxide-Ti-DMS-XAS-vacancy-Electronic Structures and Magnetic Properties
       </a>
      </li>
      <li>
        <a href="/HfO-thin-film.pdf" download>
          Hafnium oxide-Titanium nitride-XPS-Band bending-RRAM
        </a>
      </li>
    </ul>
  </div>
</body>
</html>